# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
static/

# VSCode and IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env








